/* Write your CSS here */
.app-container {
  background-color: #93c5fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin-left: 20px;
  margin-right: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.select-option {
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 100px;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  outline: none;
}

.option {
  color: #323f4b;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}

.description {
  font-family: 'Roboto';
  font-size: 12px;
  color: #323f4b;
  padding-left: 5px;
  margin: 0px;
  text-align: center;
  font-weight: 800;
}

.country {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
